/* navbar for admin */
#navbar{
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    align-items: center;
}
#navbar a{
    text-decoration: none;
    color: black;
    height: 50px;
font-size: 30px;color: rgb(2, 2, 7);
width: 50px;
}
#navbar a:hover{
    color:blue;
}




#delete{
    background-color:rgb(250, 99, 89);
    color:white;
    border: none;
    border-radius: 5px;
    padding:10px;
    font-size:15px;
    font-weight: bold;
    margin:5px;
 }

#close_modal {
    float: right;
    font-size: 2rem;
    color: darkgray;
    margin: -5px 0;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }

/* styling for logout section  */
h1{
    text-align: center;
}

#loginForm{
    width: 30%;
    /* height: 400px; */
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(12, 12, 12);
    background-color: rgb(199, 199, 199);
    padding: 20px;
    text-align: center;
}


#logout{
    float :right;
   margin-top:-50px;
   margin-right: 50px;
}

/* add product form */
#addProduct{
    display: flex;
    flex-direction: column;
    width:50%;
    margin:100px auto;
    align-items: center;
    background-color: rgb(202, 210, 218);
    padding:10px;
}


#addProduct h2{
    color:rgb(19, 18, 53);
}
#addproductform{
width:50%;
gap:20px;
    display: flex;
    flex-direction: column;
}
#addproductform input, select{
    height:30px;
    border-radius: 5px;
    border: 1px solid rgb(88, 87, 87);
    
}
#submit, #logoutButton{
    align-self: center;
    width: fit-content;
    background-color: rgb(57, 62, 77);
    color: white;
    border: none;
    height: fit-content;
    border-radius: 5px;
    padding-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    font-size:15px;
}

