/* navbar styling */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    align-items: center;
}
#navbar-links{
    display: flex;
    justify-content:space-around;
    gap:20px;
    font-size: 15px;

    font-family: 'Times New Roman', Times, serif;
    margin-right: 10%;
}


#navbar-links img{
    height: 50px;
    width: 50px;
}

#navbar-links a{
    text-decoration: none;
    color: black;
    height: 50px;
width: 50px;
}

#selecttag{
    display: none;
}
/* slider styling */

.slider {
    margin-top: 20px;
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slides img {
    width: 100%;
    border-radius: 10px;
  }

  .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
/* category designing */
#product_info{
    margin: 10px auto;
    width: 80%;
    
    gap:20px;
    display: grid;
    align-items: center;
    /* border: 1px solid black; */
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(252, 249, 242);
}
.product_info1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: rgb(240, 234, 222);
}
.product_info1:hover {
    /* background-color: #0056b3; */
    color: #030101;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
.product_info1 img{
    height:300px;
    margin-bottom: 30px;
    border-radius: 10%;
    width:300px;
    /* border: 1px solid black; */
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product_image{
    width:100%;
}
.specificatdioniv{
    background-color: rgba(236, 232, 232, 0.911);
    padding:10px;
}

#prima_search{
    display: flex;
   background-color:  #f4f4f4;
    align-items: center;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    justify-content: space-evenly;
}
#prima_search>input{
    border: 1px solid rgb(202, 200, 200);
    outline: none;
    border-radius: 5px;
    /* height:100%; */
    background-color: transparent;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: #939393;
}

/* logout  */
#logout{
    border: none;
    background-color: none;

}
/* furniture section styling  */
#furniture_cont, #electronics_cont, #clothing_cont,#wishlist_cont{
    display:grid;
    margin:auto;
    width:80%;
    padding: 50px;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}



/* filtering option  */
 #filterbyprice,#filterbygender,#sortbyprice,#sortbyname,#priceFilter{
    display: none;

 }
 
 #sortandfilter{
    background-color:rgb(255, 255, 255);
    width: 50%;
    display:flex;
    margin:50px auto;
    grid-template-columns: repeat(2,200px);
justify-content: center;
    gap:20px;
    height: fit-content;
    /* padding: 20px; */ 
    /* align-items: nterce; */
 }
 

 /* styling of buttons */
 button{
    background-color:rgb(48,113,169);
    color:white;
    border: none;
    border-radius: 5px;
    padding:10px;
    font-size:15px;
    font-weight: bold;
    margin:5px;
 }
 button:hover {
    background-color: #fffeff;
    color: rgb(48,113,169);
    border:1px solid rgb(48,113,169);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
 /* cart page styling */
 #checkoutbtn
 {
    background-color: green;

 }
 #cart_cont{
    /* margin-left: 10%; */
    width:70%;
    display:flex;
     padding: 30px;
    flex-direction: column;
    /* align-items: center; */
 }
 #stats{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: start;
    margin-right:10%;
 }
 #totalincart{
    /* background-color: rgb(231, 238, 238); */
    text-align: center;
    padding:20px;
 }
 #checkoutdiv{
    /* margin-top:50px; */
    background-color: rgb(231, 238, 238);
    width: 50%;
    height: fit-content;
    padding: 30px;
    /* margin: auto; */
 }
 #checkoutdiv h2{
    text-align: center;
 }
 #cart_content{
display: flex;
/* justify-content: space-around; */
 }
 #checkoutdiv input{
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
 }

.hl{
    border-bottom: 1px solid gray;
}


/* order page styling  */
.customertitle{
    color:blueviolet;
}

/* media query */
@media (min-width:320px) and (max-width:767px){
    #selecttag{
        display: block;
    }
    #navbar-links{
        display: none;
    }
    #product_info{
        width:100%;
        display:flex;
        
        flex-direction: column;
    }
    #furniture_cont, #electronics_cont, #clothing_cont,#wishlist_cont{
        grid-template-columns: repeat(2,1fr);
    }
    #prima_search{
        display: none;
    }
}

@media (min-width:768px) and (max-width:1023px){
    #furniture_cont, #electronics_cont, #clothing_cont,#wishlist_cont{
        grid-template-columns: repeat(2,1fr);
        gap:60px;
    } 
    #product_info{
        width:100%;
        grid-template-columns: repeat(2,1fr);
       
    }
}